.container {
  width: 280px;
  color: #9ac1c4;
  background-color: #04162a;
  padding: 10px;
  }
  body{
    margin: 0;
    background-color: #04162a;
    border:1px solid #04162a;
    border-radius: 50%;
}

.title {
  font-size: 17px;
  font-weight: bold;
  padding: 8px;
  color: aqua;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 5px 5px;
  padding: 3px;
}

.bookmark {
  display: flex;
  padding: 2px 1px;
  font-size: larger;
  border-color: #2d5176;
  border-bottom-color:aliceblue;
  border-bottom-style: solid;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.8rem;
  padding: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.delete-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  margin-top: -8px;
}

.bookmark-title {
  padding-left: 2px;
}

.bookmark-controls img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.bookmark-controls {
  flex: auto;
  text-align: right;
  background-color: #04162a;
}
.bookmark-controls img{
  border-radius: 50%;
}
.delete-all-button{
  margin: 5px auto;
  padding: 6px;
  font-weight: bold;
  text-align: center;
  background-color: red;
  color:white;
  border-radius: 20px;
  width: 40%;
  text-align: center;
  cursor: pointer;
  border: 1px solid red;
}

.bookmark img:hover{
  width: larger;
}

.view-all-button{
  margin: 5px auto;
  padding: 6px;
  font-weight: bold;
  text-align: center;
  background-color: #4CAF50;
  color:white;
  border-radius: 20px;
  width: 40%;
  text-align: center;
  border: 1px solid #4CAF50;
  cursor: pointer;
}

.delete-view-div{
  display: flex;
  justify-content: space-between;
}



/* Hover */

.view-all-button:hover {
  background-color: #45a049; /* Darker shade of green */
  }
  
  .delete-all-button:hover {
    background-color: #b30000; /* Darker shade of red */
}

.bookmark:hover {
  border-color:#66afe9;
}
footer{
  font-size: small;
}
footer p{
  color: lightblue;
  text-align: center;
}
footer a{
  font-style: italic;
  text-decoration: underline;
  color: #78c57c;
}